<section class="bg-primary" id="about" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mamy to czego potrzebujesz.</h2>
                <hr class="light">
                <p class="text-faded" style="font-family: 'Lobster', cursive; font-size: 30px; font-weight: bold;">Celem firmy jest świadczenie usług najwyższej jakości, a satysfakcja Klienta jest dla nas najważniejsza.</p>
                <a href="#" class="btn btn-default btn-xl">Strona początkowa!</a>
            </div>
        </div>
    </div>
</section>
