<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">KONTAKT</h2>
                <hr class="primary">
                <p>Jeśli chciałbyś nawiązać współpracę, wyślij email, a my postaramy się odpowiedzieć na Twoje pytanie jak najszybciej. </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" style="color: #f05f40"></i>
                <p>(+48) 510-154-987</p>
            </div>
            <div class="col-lg-4 text-center">
              <a href="mailto:finishbud.tp@gmail.com"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                <p><a href="mailto:finishbud.tp@gmail.com" style="color: black;">Kontakt Finish-Bud</a></p>
            </div>
        </div>
    </div>
</section>

